body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 10px;
    margin: 16px;
}
header h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
   
}
header nav{
    display: flex;
    justify-content: center;   
    padding-right: 50px;
}

header {
    background: #333;
    color: #d61e1e;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

img {
    max-width: 100%;
    height: auto;
}
#quiz-container {
    background: rgb(192, 190, 191);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

h1 {
    margin-bottom: 20px;
}

#quiz {
    margin-bottom: 20px;
}

.question {
    margin-bottom: 15px;
}

.answers {
    list-style-type: none;
    padding: 0;
}

.answers li {
    margin-bottom: 10px;
}

.correct-answer {
    color: green;
}

.wrong-answer {
    color: red;
}

.correct-answer-message {
    color: green;
    font-weight: bold;
}

.wrong-answer-message {
    color: red;
    font-weight: bold;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
